{% comment %}
  This is the card representation of your product.
{% endcomment %}

{% if product %}
  <a
    class="card {% if product.status %}card--{{ product.status }}{% endif %} card--{{ product.product_type_name | downcase }}"
    href="{{ product.links.landing_page_url }}"
  >
    <div class="card__img-container">
      {% if product.is_presell %}
        <div class="card__badge card__badge--presell">
          {{ 'liquid.partials.course_card.presell_banner_text' | translate }}
        </div>
      {% endif %}
      <img
        src="{{ product.card_image_url }}"
        alt=""
        class="card__img"
        loading="lazy"
      />
    </div>
    <div class="card__body-container">
      <div class="card__body">
      lol
        {% if section.settings.show_category_name %}
          <p class="card__category">
            {% for collection in product.collections %}
              {% if forloop.last == false %}
                {{ collection.name | append: ", " }}
              {% else %}
                {{ collection.name }}
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}
        <h3 class="card__name">
          {{ product.name }}
        </h3>
        <span class="card__product-info">
          {% if product.product_type_icon %}
            <i class="toga-icon {{ product.product_type_icon }}" aria-hidden="true"></i>
          {% endif %}
          {{ product.product_type_name }}
          {% if section.settings.show_product_metadata %}
            &bull; {{ product.product_metadata }}
          {% endif %}
        </span>
        {% if product.reviews_enabled and product.reviews.approved_count > 0 %}
          <div class="card__reviews">
            {% include 'star' %}
            <span>
              <span class="card__reviews-average">
                {{ product.reviews.average_rating }}
              </span>
              <span class="sr-only">{{ 'liquid.partials.course_review.average_rating' | translate }}</span>
              ({{ 'liquid.partials.course_review.total_reviews' | translate: count: product.reviews.approved_count }})
            </span>
          </div>
        {% endif %}
        {% if product.description != blank %}
          <p class="card__description">
            {{ product.description }}
          </p>
        {% endif %}
      </div>
      {% if section.settings.show_pricing and product.is_public %}
        <div class="card__price-container">
          <p class="card__price">
            {% if product.is_free %}
              <span class="card__badge card__badge--free">
                {{ product.display_price }}
              </span>
            {% else %}
              {{ product.display_price | trim_cents | strong_price }}
            {% endif %}
          </p>
        </div>
      {% endif %}
    </div>
  </a>
{% endif %}
